<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Article Rewriter</title>
</head>
<body>
    <h1>Article Rewriter</h1>

    <form action="/" method="post" enctype="multipart/form-data">
        <label for="file">Choose PDF</label>
        <input type="file" id="file" name="file"><br><br>
        
        <label for="keyword">Keyword:</label>
        <input type="text" id="keyword" name="keyword"><br><br>

        <label for="density">Density:</label>
        <input type="text" id="density" name="density"><br><br>

        <label for="length">Length:</label>
        <input type="text" id="length" name="length"><br><br>

        <input type="submit" value="Submit">
    </form>
</body>
</html>
